<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Under Maintenance</title>
</head>
<body>
    <h1>Site is undergoing routine maintenance...</h1>
    <h3>Check back soon.</h3>

    {{> footer}}
</body>
</html>