<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <h1>Current projects</h1>
    <a href = {{projectsLink}}>Projects</a>
</body>
</html>