<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <h1>Current projects</h1>
    <p>Find me on github @mcgraths7</p>
    {{> footer}}
</body>
</html>